@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Secular+One&display=swap");
* {
	box-sizing: border-box;
}

html,
body {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-color: #495579;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

section {
	padding: 0 5%;
}
/* Navbar Section */
.navbar {
	align-items: center;
	background-color: #251749;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

.navbar .left-section .title-name {
	color: #c58940;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin: 0;
}
.navbar .left-section .title-name a {
	font-family: "Secular One", sans-serif;
	color: #faf8f1;
}

.navbar .right-section button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 5px;
	padding: 7px 8px;
	transition: 0.15s;
}
.navbar .right-section a:hover {
	color: #263159;
}
.navbar .right-section button:hover {
	background-color: #faf8f1;
	color: #263159;
}

.navbar .right-section a button {
	color: #faf8f1;
	font-family: "Roboto", sans-serif;
}

/* Home Section */

#home {
	height: 100vh;
}

section#home {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#home div {
	text-align: left;
	margin-bottom: 20px;
}
#home .home-left-section {
	margin-bottom: 0;
	padding-top: 2rem;
}
#home .home-left-section h1 {
	animation: typing 2s steps(30), blink 0.5s infinite;
	border-right: 3px solid;
	font-size: 1.5rem;
	margin-bottom: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 22.3ch;
}
@keyframes typing {
	from {
		width: 0;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

#home .home-left-section p {
	font-size: 1rem;
}
#home .home-left-section p span {
	text-decoration: underline;
}

#home .home-right-section {
	margin-bottom: 100px;
}
#home .home-right-section img {
	width: 300px;
}

.aos-init,
.aos-animate {
	width: 100% !important;
}

/* Work Section */

#work {
	padding-top: 50px;
}

#work .work-experience p a {
	text-decoration: underline;
}
#work .work-experience ul {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	padding: 0;
}

#work .work-experience li {
	display: flex;
	margin: 0;
}
#work .work-experience li img {
	margin-right: 5px;
	width: 20px;
}

#work .certifications li a {
	text-decoration: underline;
}

#work .skills-list li {
	margin-bottom: 5px;
}
#work .projects {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

#work .project {
	width: 100%;
	margin-bottom: 20px;
}

#work .project .yt-logo {
	max-width: 400px;
}
#work .project img {
	max-width: 300px;
	min-width: 250px;
}
#work .project h3 {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	text-decoration: underline;
}

/* Footer Section */

#contact {
	box-sizing: border-box;
	padding: 0;
}

footer {
	background-color: #251749;
	margin: 0;
	padding: 20px;
}

footer ul li img {
	margin-right: 5px;
	width: 20px;
}
footer ul {
	margin: 0;
	padding: 0;
}
footer ul li a {
	text-decoration: underline;
}

footer .contact-list {
	align-items: left;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer ul li {
	margin-top: 10px;
	display: flex;
}

footer p {
	color: rgb(195, 195, 195);
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

@media screen and (min-width: 569px) {
	.navbar .right-section {
		margin-right: 20px;
	}
	.navbar .left-section {
		margin-left: 20px;
	}
	#work .work-experience ul {
		width: 400px;
	}
}

@media screen and (min-width: 770px) {
	#home .home-left-section {
		padding-top: 0;
	}
	#home .home-left-section h1 {
		font-size: 2rem;
	}
	#home .home-left-section p {
		font-size: 1.1rem;
	}
	#home .home-right-section img {
		width: 340px;
	}

	#work h2 {
		font-size: 2rem;
	}
	#work li,
	#work p {
		font-size: 1.2rem;
	}
	#work .projects .project img {
		height: 350px;
	}
	#work .projects .project {
		width: 50%;
	}
}
@media screen and (min-width: 900px) {
	#home .home-left-section h1 {
		font-size: 2rem;
	}
	#home .home-left-section p {
		font-size: 1.1rem;
	}
	#home div {
		width: 45%;
	}
}
@media screen and (min-width: 1150px) {
	#home .home-left-section h1 {
		font-size: 2rem;
		width: 23ch;
	}
	#home .home-left-section p {
		font-size: 1.3rem;
	}
	#home .home-right-section img {
		margin-top: 2rem;
		width: 350px;
	}
	#home div {
		width: 30%;
	}
}

@media screen and (min-width: 1400px) {
	#work .projects .project {
		width: 30%;
	}
}
